

<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    
    <title>Saroj Subedi</title>

    
    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  </head>
  <body>
   

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class ="jumbotron-heading">Job detail</h1>
      <p class="lead text-muted"> {{job.summary}} </p>
      <p>
        <a href="{% url 'home' %}">Back</a>
      </p>
        
      <img src ="{{job.image.url}}" height=300 >
    </div>
  </section>

</main>


<script src="{% static 'jquery-3.4.1.min.js'%}"> </script>
<script src="{% static 'popper.min.js' %}"> </script>
<script src="{% static 'js/bootstrap.min.js' %} "> </script>

</body>

</html>


